

body{
    background-color: rgb(255, 253, 251);
}
.watchback{
    max-width: 100%;
    width: 100%;
    margin: auto;
}
.logo2{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.par1{
    margin-left: 60px;
    margin-bottom: 80px;
    color: #B2854E ;
    font-size: 50px;
    

    
}

.montres{

color: #B2854E;
font-size: 50px;
text-align: center;


}



   
   
   
   
   
        .watch{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px;
    }
    div {
        text-align: center;
        font-size: 10px;
        color:#B2854E;
    
        
    }
    .wa{
        width: 200px;
        height: 200px;
    }
    h3{
        display: flex;
         
        position: center;
        justify-content: center;
        color:  #b2854e2f ;
    
        font-size:100px;
        
        
    
    }
     form{
        
        box-sizing: border-box;

       
       margin-top: 50px ;
       display: flex;
       flex-direction: row;

    
      
        width: 20px;
        height: 20px;
     }
  

    
        
